.calc{
   width: 350px;
    height: 550px;
    background-color: rgb(177, 171, 171);
    margin-left: 400px;
}
#screen{
    width: 85%;
    margin-left: 23px;
    height: 60px;
    margin-top: 35px;
    pointer-events: none
    
}
.btn{
    width: 60px;
    height: 55px;
    margin: 3px;
    margin-left: 18px;
    margin-top: 25px;
    background: #bab6c1;

}